.HeaderWrap .Logo{width:1.15rem;min-width:70px}
.HeaderWrap .Navigation{position:fixed;right:1rem;top:20px;height:32px;line-height:32px;z-index:120}
.HeaderWrap .Navigation.active{box-shadow:0}
.HeaderWrap .Navigation li{float:left;margin:0 0.15rem;font-size:14px;text-align:left;font-weight:500}
.HeaderWrap .Navigation li.active{border-bottom:2px solid #A94CF1;}
.HeaderWrap .Navigation li a{display:block}
.HeaderWrap .Navigation li.UserCenter{color:#A94CF1;margin-left: 50px}
.HeaderWrap .Navigation li.UserCenter a{display:inline-block;color:#A94CF1;padding: 0 10px;}
.HeaderWrap .Navigation li.Language {position: relative; background-color: #F4F1F8;padding: 0 12px;cursor: pointer;background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20fill%3D%22%23272727%22%20d%3D%22M733.230545%20518.795636%20295.749818%2081.314909c-9.076364-9.076364-23.831273-9.076364-32.907636%200-9.076364%209.076364-9.076364%2023.831273%200%2032.907636l421.050182%20421.050182-421.050182%20421.050182c-9.076364%209.076364-9.076364%2023.831273%200%2032.907636%209.076364%209.076364%2023.831273%209.076364%2032.907636%200l437.480727-437.480727C742.306909%20542.626909%20742.306909%20527.918545%20733.230545%20518.795636z%22%20%20transform%3D%22translate(1024,0)%20rotate(90)%22%2F%3E%3C%2Fsvg%3E");background-size: 12px 24px;padding-right: 22px;
    background-repeat: no-repeat;
    background-position: 94% 5px;}
.HeaderWrap .Navigation li.Language .Overlay{position: absolute;top:0;left:0;right: 0;bottom: 0;z-index: 10;}
.HeaderWrap .Navigation li.Language .Itme{border-top: 1px solid #E3DBF5;line-height: 32px}
.HeaderWrap .Navigation li.Language dd:first-child{border-top:0}
.HeaderWrap .Menu{position:relative;display:none;width:32px;height:32px;z-index:30}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

/* ===== 响应设计 ===== */
/* 大屏幕 大桌面显示器，最大 1200px */
@media screen and (min-width: 1200px){
.HeaderWrap .Navigation{top:20px;}
}

/* 中等屏幕 桌面显示器，最大 1024px */
@media screen and (max-width: 1200px) {
.HeaderWrap .Navigation{top:16px;}
}

/* 中等屏幕 桌面显示器，最大 992px */
@media screen  and (max-width: 991px) {
.HeaderWrap .Navigation{top:12px;}
}

/* 小屏幕 平板，最大 768px */
@media screen and (max-width: 768px) {
    .HeaderWrap .NavBarInner{padding:0 5%;}
    .HeaderWrap .Menu{display: block}
    .HeaderWrap .Navigation{display:none;bottom:0;top:0;right:0;width:250px;height:100%;padding-top:60px;background-color:#fff;z-index:10;}
    .HeaderWrap .Navigation.active{display: block;box-shadow: 0px 5px 5px 0px #666666;}
    .HeaderWrap .Navigation li{margin:0 10%;padding:0.5rem;float:none;}   
    .HeaderWrap .Navigation li.UserCenter{margin-left: 10%} 
}
