<!--PageBody-->
<div class="WrapContent LoginWrap" style="background-image:url(assets/images/top-m.jpg)">
		<div class="WAll">
			<div class="WARPWALL LoginHeader">
				<a href="#/view/index" class="Logo">
					<img src="assets/images/logo1.svg" />
				</a>
				<a class="Link" href="#/userCenter/login">LOGIN</a>
			</div>
			<section class="LoginBox">
				<div class="Title">SIGN UP</div>
				<ul class="FormWrap">
					<li class="Fill">
						<label>Email:</label>
						<input class="Transi" type="text" placeholder="Enter Your Email" />
					</li>
					<li class="Fill">
						<label>Email Code:</label>
						<div class="Sub">
							<input class="Transi" type="text" placeholder="Enter Email Code" />
							<span class="Btn">Send Code</span>
						</div>
					</li>
					<li class="Fill">
						<label>Verify:</label>
						<div class="Sub">
							<input class="Transi" type="text" placeholder="Image Cheaking-code" />
							<span class="Btn Validate">H5wd1</span>
						</div>
					</li>
					<li class="Fill">
						<label>Password:</label>
						<input class="Transi" type="text" placeholder="6 to 20 Characters With Numbers And Letters" />
					</li>
					<li class="Fill">
						<label>Confirm:</label>
						<input class="Transi" type="text" placeholder="Please Enter Your Password Code" />
					</li>
					<li class="Fill">
						<label>Invitation Code:</label>
						<input class="Transi" type="text" placeholder="Please Enter Your Invitation Code" />
					</li>
					<li class="Buttun">
						<span class="Btn BtnBlock">SIGN UP</span>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<!--PageBody end-->