<!--Header-->
<app-header class="WrapHeader" [info]="5"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="NewWrap">
			<div class="NewBanner"><img src="assets/images/faqbg.jpg"/></div>
			<div class="WARPWALL">
				<div class="Title">{{newInfo.title}}</div>
				<div class="Source">{{newInfo.source}}</div>
				<div class="Detail WW WB">{{newInfo.detail}}</div>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->