/*------------------community------------------*/
.COMMUNITYBox {
  background-color: #F3F3F3;
}
.COMMUNITYList{padding-bottom: 40px;}
.CommunityWrap h2 {
  font-size: 24px;
  color: #7339FF;
  text-align: center;
  padding: 130px 0 100px;
}
.EXCHANGESBox{background-color: #FAFAFA;padding-bottom: 50px}
.CommunityWrap .EXCHANGESTi{padding: 50px 0 100px;}
.CommunityWrap > div {
  text-align: center;
}
.CommunityWrap img {
  width: 100%;
  margin: .6rem auto;
  min-width: 60px;
}
.CommunityWrap .MaxExchangeImg {
  display: block;
}
.CommunityWrap .MinExchangeImg {
  display: none;
}

@media screen and (max-width: 768px) {
  .CommunityWrap h2 {
    font-size: 22px;
  }
  .CommunityWrap img {
    width: 220px;
    margin: 0 auto;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
  }
  .CommunityWrap .MaxExchangeImg {
    display: none;
  }
  .CommunityWrap .MinExchangeImg {
    display: block;
  }
}
