<section class="WARPWALL AboutBox">
    <h2>{{'ABOUT.WHATISDAEX' | translate}}</h2>
    <div class="Video" (click)="play()">
        <img class="Img" *ngIf="!playState" src="assets/images/aboutVideoBg.jpg"/>
        <video class="MP4"  *ngIf="playState" loop="" autoplay="" muted="">
            <source src="http://images.zhixingchuyun.com/qixuan.mp4" type="video/mp4">
        </video>
    </div>
    <div class="AboutWrap Row">
        <div class="AboutContent  Col100 Table50">
            <ul>
                <li>{{'ABOUT.Industry' | translate}}</li>
                <li class="Arrow"></li>
                <li>
                    <p>{{'ABOUT.IndustryA' | translate}}</p>
                </li>
            </ul>
            <ul>
                <li>{{'ABOUT.Exchanges' | translate}}</li>
                <li class="Arrow"></li>
                <li>
                    <p>{{'ABOUT.ExchangesA' | translate}}</p>
                </li>
            </ul>
            <ul>
                <li>{{'ABOUT.Users' | translate}}</li>
                <li class="Arrow"></li>
                <li>
                    <p>{{'ABOUT.UsersA' | translate}}</p>
                </li>
            </ul>
        </div>
        <div class="AboutImg TC Col100 Table50">
            <img src="assets/images/about.gif">
        </div>
    </div>
</section>
