.AboutBox {padding-top: 1.5rem}
.AboutBox .Video{position: relative; height:32vw;overflow:hidden;background-color: rgb(57, 57, 58)}
.AboutBox .Video .Img{position: absolute;top:0;left: 0;width: 100%; height:100%}
.AboutBox .Video .MP4{min-width: auto; min-height: auto; width: 100%; height: auto; transition-duration: 2000ms;}
.AboutBox h2 {
  font-size: 24px;
  color: #7339FF;
  text-align: center;
  margin-bottom: .34rem;
}

.AboutWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top:.5rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.45rem;
}

.AboutWrap .AboutContent ul {
  text-align: center;
  padding: .35rem .23rem;
  border-bottom: 1px solid #ac4cf3;
}
.AboutWrap .AboutContent ul:nth-last-child(1) {
  border-bottom: none;
  padding-bottom: 0;
}
.AboutWrap .AboutContent ul li {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.AboutWrap .AboutContent ul li p {
  margin-bottom:0 0 8px;
}
.AboutWrap .AboutContent ul li.Arrow {
  font-size: 0;
  line-height: 0;
  border-width: 6px;
  border-color: #ac4cf3;
  border-bottom-width: 0;
  border-style: dashed;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  width: 6px;
  margin: 4px auto;
}
.AboutWrap .AboutImg img {
  width: 4.48rem;
  min-width: 300px;
}
/*------------------media-pc------------------*/
@media screen and (max-width: 1200px) {
  .AboutWrap {
    padding-top:1.5rem;
  }  
}
@media screen and (max-width: 1000px) {
  .AboutWrap {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  .AboutWrap .AboutContent {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {

  .AboutWrap {
    padding-top:1.1rem;
    margin-bottom: 1.3rem;
  }
  .AboutBox h2 {
    font-size: 22px;
  }

  .AboutWrap .AboutImg img {
    width: 9.48rem;
    min-width: 4.48rem;
  }
  .AboutWrap .AboutContent ul li {
    font-size: 12px;
  }
}
