<!--Header-->
<app-header class="WrapHeader" [info]="5"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="FAQWrap">
			<div class="Title">Frequently Asked Question</div>
			<div class="WARPWALL">
				<div class="ListBlock AccordionList">
					<ul>
						<li class="AccordionItem ListItem">
							<a href="javascript:;" class="ItemLink ItemCon">
								<div class="ItemInner ">
									<div class="ItemTitle">Lorem Ipsum</div>
								</div>
							</a>
							<div class="AccordionItemCon">
								<div class="ContentBlock">
									<p>Frequently</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->