.FAQWrap .Title{font-size: 48px;font-weight: 500;padding: 50px 0;text-align: center}
.FAQWrap .ListBlock{margin-bottom: 50px}
.FAQWrap .ListBlock .ItemLink .ItemInner{background-position: 1% center}
.FAQWrap .ListBlock .ItemTitle{padding-left: 40px}
.FAQWrap .ListBlock .AccordionItemExpanded .ItemTitle{color: #7855F7}
.FAQWrap .FAQBanner{font-size: 0;}
.FAQWrap .FAQBanner img{width: 100%}

@media screen and (max-width: 768px) {
  .FAQWrap .Title{font-size: 32px;padding: 30px 0;}
}

@media screen and (max-width: 560px) {
  .FAQWrap .Title{font-size: 24px;padding: 20px 0;}
}