.FooterWrap .FollowUs{background-color: #7E5CFB;padding: 40px 0;text-align: center}


.FollowTitle {
font-size: 30px;
color: white;
margin-bottom: .36rem;
}

.FooterWrap .FollowIcon a {margin-right:.3rem;font-size: 0; }
.FooterWrap .FollowIcon {font-size: 0; }
.FooterWrap .FollowIcon img {width:50px;min-width: 30px;}
.FooterWrap .FollowIcon img:hover {
animation: myLogo 0.3s 1 ease-in-out forwards 0.1s;
-webkit-animation: myLogo 0.3s 1 ease-in-out forwards 0.1s;
}

.FooterWrap .FollowUsInfo{background-color: #7853F0;padding: 30px 200px;font-size: 0}
.FooterWrap .FollowUsInfo .Logo{width: 150px;text-align: left;}
.FooterWrap .FollowUsInfo .FollowBottomText{font-size: 24px;color:#fff;text-align: right}
@keyframes myLogo {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }
  @-webkit-keyframes myLogo {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }



@media screen and (max-width: 768px) {
    .FooterWrap .FollowIcon img {width:36px;min-width: 30px;}
    .FooterWrap .FollowUsInfo  {padding: 30px 0;}
    .FooterWrap .FollowUsInfo .Logo{width: 120px;}
    .FooterWrap .FollowUsInfo .FollowBottomText{font-size:18px}
}
