<!-- <div [@routeAnimation]="routerStateCode"> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<!-- <div class="app-root">

    <ul appScroll (scrollChange)="onScrollChange($event)">
        <li *ngFor="let item of list">{{item}}</li>
      </ul>
      <p class="result">
        <span>ScrollTop: </span>
        <span>{{scrollTop}}</span>
      </p>
</div>
  <style>
.app-root ul {
  height: 200px;
  overflow: auto;
}

.app-root ul li {
  padding-left: 8px;
  line-height: 32px;
  background: #eee;
  border-top: 1px solid #939393;
}

.app-root .result {
  font-size: 16px;
  line-height: 32px;
}
  </style> -->