<!--Header-->
<app-header class="WrapHeader"  [info]="99"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="WARPWALL UserCenterIndexWrap">
			<ul class="Row">
				<li class="Col100 Table33">
					<div class="AdvisorWrap">
						<div class="Advisor"><img src="assets/images/userCenter/advisor.png"/></div>
						<div class="Name">Allen</div>
					</div>
				</li>
				<li class="Col100 Table66">
						<ul class="ListBlock">
							<li class="ListItem">
								<a class="ItemCon InkRipple" href="#/userCenter/integral">
									<div class="ItemMedia">
										<img src="assets/images/userCenter/001.jpg" />
									</div>
									<div class="ItemInner">
										<div class="ItemTitle">Total points : 5000 points</div>
										<div class="ItemAfter">
											<img src="assets/images/005.png" />
										</div>
									</div>
								</a>
							</li>
							<li class="ListItem">
								<a class="ItemCon InkRipple" href="#/userCenter/info">
									<div class="ItemMedia">
										<img src="assets/images/userCenter/002.jpg" />
									</div>
									<div class="ItemInner">
										<div class="ItemTitle">Perfect personal information</div>
										<div class="ItemAfter">
											<img src="assets/images/005.png" />
										</div>
									</div>
								</a>
							</li>
						</ul>
				</li>
			</ul>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->