<!--Header-->
<app-header class="WrapHeader"  [info]="99"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="WARPWALL">
			<div class="UserCenterIndexWrap">
				<ul class="Row">
					<li class="Col100">
						<div class="AdvisorWrap">
							<div class="Advisor"><img src="assets/images/userCenter/advisor.png"/></div>
							<div class="Name">{{userName}}</div>
						</div>
					</li>
					<li class="Col100 UserCenterIndexList Row">
						<div class="Col100 Table50 TC">
							<a class="ItemCon" href="#/userCenter/integral">
								<div class="ItemMedia"><img src="assets/images/userCenter/008.png" /></div>
								<div class="ItemTitle">Total points : <span>{{integral}}</span> points</div>
								<div class="ItemAfter"><img src="assets/images/005.png" /></div>
							</a>
						</div>
						<div class="Col100 Table50 TC">
							<a class="ItemCon" href="#/userCenter/info">
								<div class="ItemMedia"><img src="assets/images/userCenter/009.png" /></div>
								<div class="ItemTitle">Perfect personal information 
									<span class="validStatus Badge BadgeSuccess UIRadius">{{validStatus == '1' ? 'Done' : '1Review'}}</span>
								</div>
								<div class="ItemAfter"><img src="assets/images/005.png" /></div>
							</a>
						</div>
							<!-- <ul class="ListBlock">
								<li  class="Col100 Table50 ListItem ">
									<a class="ItemCon" href="#/userCenter/integral">
										<div class="ItemMedia">
											<img src="assets/images/userCenter/008.png" />
										</div>
										<div class="ItemInner">
											<div class="ItemTitle">Total points : <span>6666</span>{{integral}} points</div>
											<div class="ItemAfter">
												<img src="assets/images/005.png" />
											</div>
										</div>
									</a>
								</li>
								<li class="Col100 Table50 ListItem">
									<a class="ItemCon" href="#/userCenter/info">
										<div class="ItemMedia">
											<img src="assets/images/userCenter/009.png" />
										</div>
										<div class="ItemInner">
											<div class="ItemTitle">Perfect personal information</div>
											<div class="ItemAfter">
												<img src="assets/images/005.png" />
											</div>
										</div>
									</a>
								</li>
							</ul> -->
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->