<!--Header-->
<app-header class="WrapHeader"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="WhitepaperWrap">
			<div class="content">
				<p class="main-text">
					DAEX is a clearing solution for centralized cryptocurrency trading exchanges. Its clearing service is based on distributed
					ledger technology. Clearing and settlement rules are preprogrammed into clearing smart contracts on the DAEX clearing
					chain. The clearing process is automatic without people’s interference. The objectivity of clearing is guaranteed by
					the consensus mechanism on the clearing chain. Also, customers’ digital assets are registered and stored on the DAEX’s
					clearing chain. No other institutions or individuals can access these assets without the owner’s permission.
				</p>
				<div class="paper-button" style="background-image: url(assets/images/whitepaper/read-more.png)">
					<a href="assets/DAEX(EN)-NonTechnicalWhitepaper-V0.9.8c-7.pdf" target="_blank">Non Technical Whitepaper</a>
				</div>
				<div class="paper-button" style="background-image: url(assets/images/whitepaper/read-more.png);margin-top:.4rem;margin-bottom: 1rem">
					<a href="assets/DAEX(CN)-TechnicalWhitepaper-V0.6.1.pdf" target="_blank">Technical Whitepaper</a>
				</div>
				<div class="bottom-text">
					<p>New Generation</p>
					<p>Of Clearing Ecosystem</p>
					<p>For Cryptocurrency</p>
				</div>
			</div>
			<img src="assets/images/whitepaper/whitepaper-bg.jpg">
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->