<!--Header-->
<app-header class="WrapHeader" [info]="99"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="WARPWALL IntrgralWrap">
			<div class="InfoBox">
				<img class="Img" src="assets/images/userCenter/001.jpg" />
				<div class="Info">
					<div class="Title">Total points : {{integral}} points <span>record</span></div>
					<div class="Desc">Eam points by completing the mission <span class="Btn BtnPrimary" (click)="exchange()">Exchange DAX</span></div>
				</div>
			</div>
			<div class="IntrgralList">

				<div class="ListBlock">
					<ul class="ListGroup">
						<li class="ListItem GroupTitle">Novice task</li>
						<li class="ListItem">
							<div class="ItemCon InkRipple">
								<div class="ItemInner">
									<div class="ItemTitle">New User Registration</div>
									<div class="ItemAfter">+25 Points</div>
								</div>
							</div>
						</li>
						<li class="ListItem">
							<div class="ItemCon InkRipple">
								<div class="ItemInner">
									<div class="ItemTitle">New User Registration</div>
									<div class="ItemAfter">+25 Points</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="ListBlock">
					<ul class="ListGroup">
						<li class="ListItem GroupTitle">Daily task</li>
						<li class="ListItem">
							<div class="ItemCon InkRipple">
								<div class="ItemInner">
									<div class="ItemTitle">comment</div>
									<div class="ItemAfter">+25 Points</div>
								</div>
							</div>
						</li>
						<li class="ListItem">
							<div class="ItemCon InkRipple">
								<div class="ItemInner">
									<div class="ItemTitle">Like articles</div>
									<div class="ItemAfter">+60 Points</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="ListBlock">
					<ul class="ListGroup">
						<li class="ListItem GroupTitle">Achievement bonus</li>
						<li class="ListItem">
							<div class="ItemCon InkRipple">
								<div class="ItemInner">
									<div class="ItemTitle">comment</div>
									<div class="ItemAfter">+25 Points</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->
<div *ngIf="EXCHANGE">
	<div class="ModalBlank ModalBlankVisibleIn" (click)="cancel()" style="z-index: 2001;"></div>
	<div class="ModalBox ModalIn ExchangeModal " style="z-index: 2003;">
		<div class="ModalInner">
			<div class="ModalHeader">EXCHANGE DAX</div>
			<div class="ModalContent UserCenterForm">
				<form [formGroup]="ExchangeForm">
					<ul class="FormWrap">
						<li class="Fill">
							<label>Redemption address:</label>
							<input class="Transi" type="text" formControlName="depositAddress" />
						</li>
						<li class="Fill">
							<label>Redemption quantity:</label>
							<input class="Transi" type="text" formControlName="costCoin"/>
						</li>
						<li class="Fill">
							<label>Consumption points:</label>
							<input class="Transi" type="text" formControlName="depositCount"/>
						</li>
					</ul>
				</form>			
			</div>
		</div>
		<div class="ModalFooter ModalFooter2">
			<a href="javascript:;" class="ModalButton First "  (click)="cancel()">
				<div class="Btn BtnLine BtnPrimary" >Cancel</div>
			</a>
			<a href="javascript:;" class="ModalButton Last "  (click)="confirm()">
				<div class="Btn BtnPrimary">Confirm</div>
			</a>
		</div>
	</div>
</div>
