<!--Header-->
<app-header class="WrapHeader" [info]="99"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="IntrgralWrap">
			<div class="InfoBox">
				<div class="WARPWALL Row">
					<div class="Col100 Table40 TC">
						<img class="Img" src="assets/images/points/001.png" />
					</div>
					<div class="Col100 Table60 Info">
						<div class="Title">Total points : <span>{{integral}}</span> points </div>
						<div class="Desc">
							<div>Coversion rate 1 DAX = 2Points</div>
							<div>You can start exchange DAX when you get more than 200 points</div>
						</div>
						<div class="Button">
							<span class="Btn BtnPrimary" (click)="exchange()">Exchange DAX</span> 
							<a href="#/userCenter/integralRecord" class="Btn BtnLine BtnPrimary">record</a>
						</div>
					</div>
				</div>
			</div>
			<div class="IntrgralList">
				<div class="WARPWALL">
					<div class="ListBlock">
						<ul class="ListGroup">
							<li class="ListItem GroupTitle"><img class="Img" src="assets/images/points/002.png" /> Novice task</li>
							<li class="ListItem" *ngFor="let itme of integralList; trackBy: trackByFn" [hidden]="itme.type != 0">
								<a class="ItemCon ItemLink" href="#">
									<div class="ItemInner">
										<div class="ItemTitle">{{itme.name}}</div>
										<div class="ItemAfter">+{{itme.coinCount}} Points</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					
					<div class="ListBlock">
						<ul class="ListGroup">
							<li class="ListItem GroupTitle"><img class="Img" src="assets/images/points/004.png" /> Daily task</li>
							<li class="ListItem" *ngFor="let itme of integralList; trackBy: trackByFn" [hidden]="itme.type != 1">
								<a class="ItemCon ItemLink" href="#/userCenter/integralDetails">
									<div class="ItemInner">
										<div class="ItemTitle">{{itme.name}}</div>
										<div class="ItemAfter">+{{itme.coinCount}} Points</div>
									</div>
								</a>
							</li>
						</ul>
					</div>

					<!-- <div class="ListBlock">
						<ul class="ListGroup">
							<li class="ListItem GroupTitle"><img class="Img" src="assets/images/points/004.png" /> Achievement bonus</li>
							<li class="ListItem">
								<a class="ItemCon ItemLink" href="#/userCenter/integralDetails">
									<div class="ItemInner">
										<div class="ItemTitle">comment</div>
										<div class="ItemAfter">+25 Points</div>
									</div>
								</a>
							</li>
						</ul>
					</div> -->
				</div>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->
<div *ngIf="EXCHANGE">
	<div class="ModalBlank ModalBlankVisibleIn" (click)="cancel()" style="z-index: 2001;"></div>
	<div class="ModalBox ModalIn ExchangeModal " style="z-index: 2003;">
		<div class="ModalInner">
			<div class="ModalHeader">EXCHANGE DAX <img (click)="cancel()" class="Img" src="assets/images/002.png" /></div>
			<div class="ModalContent UserCenterForm">
				<form [formGroup]="ExchangeForm">
					<ul class="FormWrap">
						<li class="Fill">
							<label>Redemption address:</label>
							<input class="Transi" type="text" formControlName="depositAddress" />
						</li>
						<li class="Fill">
							<label>Redemption quantity:</label>
							<input class="Transi" type="text" formControlName="costCoin"/>
						</li>
						<li class="Fill">
							<label>Consumption points:</label>
							<input class="Transi" type="text" formControlName="depositCount"/>
						</li>
					</ul>
				</form>			
			</div>
		</div>
		<div class="ModalFooter ModalFooter2">
			<a href="javascript:;" class="ModalButton First "  (click)="cancel()">
				<div class="Btn BtnLine BtnPrimary" >Cancel</div>
			</a>
			<a href="javascript:;" class="ModalButton Last "  (click)="confirm()">
				<div class="Btn BtnPrimary">Confirm</div>
			</a>
		</div>
	</div>
</div>
