/*------------------value------------------*/
.ValueWrap {
  background-color: #f7f8f8;
  padding-bottom: 1.6rem;
}
.ValueWrap h2 {
  font-size: 24px;font-weight: 700;
  color: #7339FF;
  text-align: center;
  padding: 1.54rem 35px 1.04rem 0;
}
.ValueContent {
  padding: 0 0.5rem;
}
.ValueContent li {
  padding:0 30px;
  text-align: center;
}
.ValueContent li img {
  width: .65rem;
  min-width: 35px;
  margin-bottom: .48rem;
}
.ValueContent li h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .32rem;
}
.ValueContent li p {
  font-size: 14px;
  margin:0 0 6px;
}

@media screen and (max-width: 768px) {
  .ValueWrap {
    padding-bottom: .25rem;
  }
  .ValueWrap h2 {
    padding: 1.25rem 0 1.2rem 0;
    font-size: 22px;
  }
  .ValueWrap p {
    font-size: 12px;
  }
  .ValueContent {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    padding: 0;
  }
  .ValueContent li {
    width: 100%;
    margin-bottom: 1.1rem;
  }
  .ValueContent li img {
    width: 1.75rem;
    min-width: 1.75rem;
  }
}



