<!--Header-->
<app-header class="WrapHeader" [info]="6"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll BountyWrap">
		<section class="WARPWALL">
			<div class=" BountyBanner"><img src="assets/images/zpt.jpg"/></div>
		</section>
		<section class="BountyList BountyListColor">
			<div class="WARPWALL">
				<h2 class="Title">Social Bounties</h2>
				<ul class="Row">
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Twitter</div>
								<div class="Reward">+50 ZPT</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the take of following Zeepin Official Page on Twitter, you can obtain 50ZPTs.
								</div>
							</div>
						</div>
						<div class="Button"><span class="Btn BtnPrimary">Get Mission</span></div>
					</li>
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Twitter</div>
								<div class="Reward">+50 ZPT</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the take of following Zeepin Official Page on Twitter, you can obtain 50ZPTs.
								</div>
							</div>
						</div>
						<div class="Button"><span class="Btn BtnGray">Done</span></div>
					</li>
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Twitter</div>
								<div class="Reward">+50 ZPT</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the take of following Zeepin Official Page on Twitter, you can obtain 50ZPTs.
								</div>
							</div>
						</div>
						<div class="Button"><span class="Btn BtnPrimary">Auditing</span></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="BountyList">
			<div class="WARPWALL">
				<h2 class="Title">Creative Bounties</h2>
				<ul class="Row">
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Twitter</div>
								<div class="Reward">+50 ZPT</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the take of following Zeepin Official Page on Twitter, you can obtain 50ZPTs.
								</div>
							</div>
						</div>
						<div class="Button"><span class="Btn BtnPrimary">Get Mission</span></div>
					</li>
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Twitter</div>
								<div class="Reward">+50 ZPT</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the take of following Zeepin Official Page on Twitter, you can obtain 50ZPTs.
								</div>
							</div>
						</div>
						<div class="Button"><span class="Btn BtnGray">Done</span></div>
					</li>
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Twitter</div>
								<div class="Reward">+50 ZPT</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the take of following Zeepin Official Page on Twitter, you can obtain 50ZPTs.
								</div>
							</div>
						</div>
						<div class="Button"><span class="Btn BtnPrimary">Auditing</span></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="BountyList BountyListColorA">
			<div class="WARPWALL">
				<h2 class="Title">Bounty Point History</h2>
				<table class="Table">
					<thead>
						<tr>
							<th>Bounty</th>
							<th>Updated at</th>
							<th>Point</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Social</td>
							<td>2018-07-09 12:30:30</td>
							<td>+50</td>
							<td>accepted</td>
						</tr>
						<tr>
							<td>Social</td>
							<td>2018-07-09 12:30:30</td>
							<td>+50</td>
							<td>accepted</td>
						</tr>
						<tr>
							<td>Social</td>
							<td>2018-07-09 12:30:30</td>
							<td>+50</td>
							<td>accepted</td>
						</tr>
						<tr>
							<td>Social</td>
							<td>2018-07-09 12:30:30</td>
							<td>+50</td>
							<td>accepted</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->