<!--Header-->
<app-header class="WrapHeader" [info]="99"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll">
		<section class="IntrgralDetailsWrap">
			<div class="InfoBox">
				<div class="WARPWALL Row">
					<div class="Col100 Table50 Pic">
						<img class="Img" src="assets/images/points/005.png" />
					</div>
					<div class="Col100 Table50">
						<div class="DetailTitle">Task Details</div>
						<ul class="List">
							<li class="Title"><img class="Img" src="assets/images/points/006.png" /> Perfect personal information</li>
							<li><span class="Desc">Reward points:</span> <span class="Points">+25 Points</span></li>
							<li><span class="Desc">Reward time:</span> 2018-07-06 12:43</li>
						</ul>
						<ul class="List">
							<li class="Title"><img class="Img" src="assets/images/points/007.png" /> Task description</li>
							<li>After completing the registration,you can eam your points by perfecting your personal information.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->
