.BountyWrap .BountyBanner{padding: 40px 0;}
.BountyWrap .BountyBanner .Img{min-width: 180px;width: 240px}
.BountyWrap .BountyBanner li{font-size: 14px;color: #999;padding-left: 40px;padding: 15px 40px;}
.BountyWrap .BountyBanner .Title{font-size: 24px;font-weight: 700}
.BountyWrap .BountyBanner .Title img{width: 32px;height: 32px;}

.BountyWrap .BountyList{padding:0 0 30px 0;font-size: 13px}
.BountyWrap .BountyList .Title{font-size: 18px;color: #7137FA;padding:30px 0;}
.BountyWrap .BountyList .Title img{width: 32px; height: 32px;}
.BountyWrap .BountyList .Box{box-shadow:none;border:0;background-color: transparent}
.BountyWrap .BountyList .Box .BoxHeader{display: block;font-size: 16px;line-height: 28px}
.BountyWrap .BountyList .Box .BoxHeader .Ti{color: #7338FA;font-size: 16px;font-weight: 500}
.BountyWrap .BountyList .Box .BoxHeader .Reward{color: #A151E7}
.BountyWrap .BountyList .Box .BoxContent{overflow-y: auto;text-align: left}
.BountyWrap .BountyList .Box .BoxContent:before{background: none;}
.BountyWrap .BountyList .Box .BoxContent:after{display: none}
.BountyWrap .BountyList .Row li .Button{font-size: 14px;height: 32px;color: #ccc;padding: 5px 12px;}
.BountyWrap .BountyList .Row li .Button img{width: 24px;height: 24px;}
.BountyWrap .BountyList .Row li .Button.activce{color: #763BFF}
.BountyWrap .BountyList .Row li .Btn{font-size: 14px;height: 32px;}
.BountyWrap .BountyListColor{background-color:#F9F9F9 }
.BountyWrap .BountyListColorA{background-color:#F4F4F4 }
.BountyWrap .BountyListColorB{background-color:#EEEEF0 }
.BountyWrap .BountyList .Table{text-align:center;background: none}
.BountyWrap .BountyList .Table tr > th{border-top:0;}
.BountyWrap .BountyList .Table > thead > tr > th {border-bottom: 1px dotted #ddd}
.BountyWrap .BountyList .Table tr > td {border-top: 1px dotted #ddd;line-height: 30px}


@media screen and (max-width: 716px) {
  .BountyWrap .BountyList .Row li{margin-bottom: 30px}
  .BountyWrap .BountyBanner .Img{width: 180px}
  .BountyWrap .BountyBanner{padding: 20px 0;}
}
