<!--Header-->
<app-header class="WrapHeader" [info]="6"></app-header>
<!--Header end-->
<!--PageBody-->
<div class="WrapContent">
	<div class="WAll BountyWrap">
		<section class="WARPWALL">
			<div class="Row BountyBanner">
				<div class="Col100 Table75">
					<div class="Title"><img src="assets/images/bounty/002.png"/> Participation Qualification</div>
					<ul>
						<li>1.There is no restriction no nationality. Anyone can take part in the event.</li>
						<li>2.Registered users at the official website can participate in the activities. Please fill in the correct information in the registration process.</li>
						<li>3.Please fill in the correct wallet address (ERC 20) to ensure receive DAX normally.</li>
					</ul>
				</div>
				<div class="Col100 Table25"><img class="Img" src="assets/images/bounty/001.png"/></div>
			</div>
		</section>
		<section class="BountyList BountyListColor">
			<div class="WARPWALL">
				<h2 class="Title"><img src="assets/images/bounty/003.png"/> Social Bounties</h2>
				<ul class="Row">
<!-- 					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on twitter</div>
								<div class="Reward">+20 points</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the task of following DAEX Official Page on Twitter, you can obtain 20 points
								</div>
							</div>
						</div>
						<div class="Button activce">Get Mission <img src="assets/images/005.png" /></div>
					</li>
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Follow us on Reddit</div>
								<div class="Reward">+20 points</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the task of following DAEX Official Page on Reddit you can obtain 20 points
								</div>
							</div>
						</div>
						<div class="Button">Done <img src="assets/images/004.png" /></div>
					</li>
					<li class="Col100 Table33">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">Retweet on Twitter</div>
								<div class="Reward">+10 points</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									Take the task of retweeting the posts about DAEX, you will get 10 points. 
									Note:
									<div>a.The task can be performed once a day.</div>
									<div>b.Repetitive content and partial quote are invalid</div>
									<div>c.The twitter account needs at least 50 followers</div>
								</div>
							</div>
						</div>
						<div class="Button activce">Get Mission <img src="assets/images/005.png" /></div>
					</li> -->
					<li class="Col100 Table33" *ngFor="let itme of bountyList; trackBy: trackByFn" [hidden]="itme.type != 0">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">{{itme.name}}</div>
								<div class="Reward">+{{itme.coinCount}} points</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									{{itme.content}}
								</div>
							</div>
						</div>
						<div class="Button activce" *ngIf="itme.status == 0"><span (click)="save(itme.id)">Get Mission <img src="assets/images/005.png" /></span></div>
						<div class="Button" *ngIf="itme.status == 3">Done <img src="assets/images/004.png" /></div>
						<div class="Button" *ngIf="itme.status == 2">Auditing <img src="assets/images/004.png" /></div>
						<div class="Button" *ngIf="itme.status == 1">Accepted <img src="assets/images/004.png" /></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="BountyList BountyListColorA">
			<div class="WARPWALL">
				<h2 class="Title"><img src="assets/images/bounty/004.png"/> Creative Bounties</h2>
				<ul class="Row">
					<li class="Col100 Table33"  *ngFor="let itme of bountyList; trackBy: trackByFn" [hidden]="itme.type != 1">
						<div class="Box BoxBlock">
							<div class="BoxHeader">
								<div class="Ti">{{itme.name}}</div>
								<div class="Reward">+{{itme.coinCount}} points</div>
							</div>
							<div class="BoxContent">
								<div class="BoxContentInner">
									{{itme.content}}
								</div>
							</div>
						</div>
						<div class="Button activce" *ngIf="itme.status == 0"><span (click)="save(itme.id)">Get Mission <img src="assets/images/005.png" /></span></div>
						<div class="Button" *ngIf="itme.status == 3">Done <img src="assets/images/004.png" /></div>
						<div class="Button" *ngIf="itme.status == 2">Auditing <img src="assets/images/004.png" /></div>
						<div class="Button" *ngIf="itme.status == 1">Accepted <img src="assets/images/004.png" /></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="BountyList BountyListColorB">
			<div class="WARPWALL">
				<h2 class="Title"><img src="assets/images/bounty/005.png"/> Bounty Point History</h2>
				<table class="Table">
					<thead>
						<tr>
							<th>Bounty</th>
							<th>Updated at</th>
							<th>Point</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let itme of recordList; trackBy: trackByFn">
							<td>{{itme.email}}</td>
							<td>{{itme.createTime}}</td>
							<td>+{{itme.costCoin}}</td>
							<td>{{itme.statusName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>
<!--PageBody end-->
<!--footer-->
<app-footer></app-footer>
<!--footer end-->